################################################
# OSX and System Files
################################################
*~
*#
.DS_STORE
.DS_Store
Thumbs.db

################################################
# VIM
#
# Vim temp files
################################################
*.swp
*.swo
